HeaderHeight = 50px
BodyBgc = #f3f3f3
HeaderBgc = #eaeaeb

none-list()
  list-style: none
  margin: 0
  padding: 0

body
  background-color: BodyBgc
  padding-top: HeaderHeight

main
  width: 980px
  margin: 0 auto

a
  color: #337ab7
  text-decoration: none
  &:hover
    color: #23527c
    text-decoration: underline

@import "_partial/header"