HoverBgc = rgba(219, 219, 220, 0.4)
HeaderNavHeight = 40px

header
  background-color: HeaderBgc
  position: fixed
  top: 0
  left: 0
  right: 0
  height: HeaderHeight
  padding: 0 100px
  nav
    height: 100%
  ul
    none-list()

.header-nav-item
  float: left
  width: 150px
  height: 100%
  &>div
    height: 100%
    padding: 0 5px
    line-height: HeaderHeight
    overflow: hidden
    text-overflow: ellipsis
    color: #777
  ul
    background-color: HeaderBgc
    display: none
    li
      height: HeaderNavHeight
      line-height: HeaderNavHeight
      padding: 0 5px
      &:hover
        background-color: HoverBgc
  a
    display: block
    height: 100%
    overflow: hidden
    text-overflow: ellipsis
    text-decoration: none
  &:hover
    cursor: pointer
    background-color: HoverBgc
    ul
      display: block
