language: node_js

node_js:
  - "8.11.1"

cache:
  directories:
    - "node_modules"

install:
  - npm i

script:
  - hexo clean
  - hexo g

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: public
  on:
    branch: master